body{
    font-family: "ＭＳ Ｐゴシック";
    background-color: #47ac4a;
    margin:0;
    padding:0;
}
.wrap-col{
    display: flex;
    flex-direction: column;
    
    
}

.header{
    background: rgb(2, 75, 0); 
    background-image: linear-gradient(rgb(2, 75, 0),60%, #47ac4a);
    text-align: center;
    margin-bottom: 6%;
    align-items: center;
}

.frase{
    margin-top: 12%;
    align-self:center;
    text-align: center;
    width: 80%

}

.botao{
    margin-top: 20px;
    align-self: center;
}

#clickme{
    background-color: #47ac4a;
    border: 2px solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}
#clickme:active{
    border: 2px solid #000000;
    color: black;
  }

  #clickme:hover{
    background-color: #5ead60;
    cursor: pointer
  }
p{
    font-size: 180%;
    font-weight: bold;
}
.spacing{
    height:30%;
}